*{background-color: bisque;}
#but
{color: green;
}
.givi
{ color: skyblue;}
.Givikuna
{ font-weight: 800;
}
table {border: solid; color: black; background-color: coral;}
td {border: solid; color: black;}
th {border: solid; color: black;}